.container {
  background-color: #e2f3f5;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
  border-radius: 8px;
}

.container img {
  width: 153px;
  height: 87px;
  border-radius: 50%;
  border: solid 2px white;
  background-color: #21e6c1
}

.label__netSalary{
  color: #086972;
  font-weight: bold;
}

.input-field label  {
  color: #ff0;
}

.label__netSalary{
  /* color: #086972 !important; */
  font-weight: bold;
  
}

.header {
  background: #c5e3f6;
  width: 100%;
  border-radius: 8px;
  color: #086972;
  font-family: 'Nunito', 'Ubuntu';
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__h2 {
  margin-bottom: 40px;
}

.bar {
  width: 85%;
  height: 18px;
  border-radius: 18px;
}
